
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    font-family: "Martel Sans", sans-serif;
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar a {
    font-weight: 600;
    font-size: 18px;
    color:#fff;
    margin-left: 50px;
    
}
      
body {
    font-family: martel, sans-serif;
    line-height: 1.5;
    background-color: #f0f0f0;
    
}



.video-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
  }
  
  video {
    width: 100%;
    height: auto;
    outline: none; 
  }
  
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0%;
    
}

header {
    background-color: #504EBD;
    color: #fff;
    padding: 10px 0;
    
}
.logo{
    height: 45px;
    width: 119px;
    margin-right: 0px;
    margin-left: 45px;
    margin-top: 5px;
    padding: 0px;
    
}



header h1 {
    margin: 0;
    padding: 10px 20px;
    font-size: 2rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    
    text-decoration: none;
    font-weight: bold;
    
}



button{
    display: block;
    margin: 10 auto;
    padding: 15px 20px;
    background-color:rgb(219,219,243);
    color:rgb(73,71,187,255);
    border: 10px;
    border-radius: 5px;
    border-color: #020202;
    cursor:pointer;
    align-items: flex-start;
    margin-left: 50px;
    border: 1px solid #050000; 

}

.section p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    
   
}
.section {
    padding: 20px 0;

}

.section h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    padding: 10px;
    margin-top: 5px;
    color: #504EBD;

}
.box-icons i {
    font-size: 40px;
}
.ms-4 h2{
    color: #504EBD;
}

footer{
    background-color: #504EBD;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
}
.footer-container {
    clear: both;
  }